<!--
 * @Description: 
 * @Author: jeffreymakai
 * @Date: 2020-08-08 20:08:30
 * @LastEditTime: 2020-08-08 21:06:44
 * @LastEditors: jeffreymakai
 -->
<html>
    <head>
        <style>
            .rotate{
                width: 300px;
                background-color: antiquewhite;
            }
        </style>
    </head>
    <body>
        <h1>旋转</h1>
        <br/>
        <img src="./123.jpg" width="400" />
        <h3>旋转</h3>
        <div class="con">
            <div class="rotate">
                旋转
            </div>
        </div>
        <script>
            var rotate = document.querySelector(".rotate");
            rotate.addEventListener("touchstart",()=>{
                rotate.style.transform = rotate.style.webkitTransform = "rotate(90deg)";

            })
        </script>
    </body>
</html>