<!--
 * @Description: 
 * @Author: jeffreymakai
 * @Date: 2020-12-08 01:59:31
 * @LastEditTime: 2020-12-10 02:58:59
 * @LastEditors: jeffreymakai
 -->
 <!DOCTYPE html>
 <html>
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <title>SystemJS</title>
     </head>
     <body>
         <div id="mydiv">body</div>
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
         <script type="text/javascript" src="system.js" ></script>
         <script>
             System.import('./man.js')
                .then(function(m){
                    console.log(m)
                })
         </script>
     </body>
 </html>
