<!--
 * @Description: 
 * @Author: jeffreymakai
 * @Date: 2020-12-08 01:59:31
 * @LastEditTime: 2020-12-08 02:08:34
 * @LastEditors: jeffreymakai
 -->
 <!DOCTYPE html>
 <html>
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <title>AMD</title>
     </head>
     <body>
         <div id="mydiv">body</div>
         <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/require.js/2.3.6/require.min.js" data-main="man.js">
        </script>
     </body>
 </html>
