<!--
 * @Description: 
 * @Author: jeffreymakai
 * @Date: 2020-07-17 01:05:01
 * @LastEditTime: 2020-08-12 05:00:30
 * @LastEditors: jeffreymakai
 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>index</title>
    </head>
    <body>
        <div id = "div"></div>
        <!--引入文件-->
        <script src="./var/var_hosit.js"></script>
        <!-- <script src="./Symbol/symbol5.js"></script> -->
    </body>
</html>